  {{#each posts as |post|}}
    <article class="post">
      <div class="title-bar">
        <div class="title">
          <strong><a href="/post/{{id}}">{{title}}</a></strong>
        </div>
        <div class="meta">
          by <strong>{{user.username}}</strong> on
          {{format_date created_at}}
          |
          {{comments.length}}&nbsp;{{format_plural "comment" comments.length}}
        </div>
      </div>
      <div class="content">{{format_cut_content content}} <a href="/post/{{id}}"> &hellip; read more</a></div>

    </article>

  {{/each}}
